.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__title{
    color: $color_main;
    
    }
    &__inputSearch{
    align-self: center;
    width: 350px;
    height: 50px;
    padding: 10px;
    border-radius: 3cm;
    border-color: $color_main;
    background-color: rgb(222, 185, 243);
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    opacity: 50%;
    
    }
    &__buttonSearch{
    color:$color_button;
    border: 2px solid $color_main;
    border-radius: 10%;
    padding: 8px;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    
        cursor: pointer;
    }
    &__buttonReset{
    color:$color_button;
    border: 2px solid $color_main;
    border-radius: 10%;
    padding: 8px;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    
        cursor: pointer;
    }
    }





.lists{
width: 100%;
display: flex;
justify-content: center;


&__searchResult{
color: rgb(209, 74, 243);
max-width: 40vw; 
height: 100vh;
flex-wrap: nowrap;
padding-right: 10vh;

&--ul{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;

}
&--h2{
font-size: xx-large;
}
}
&__favResult{ 
color:$color_text_list;

max-width: 40vw; 
height: 100vh;
flex-wrap: nowrap;    
padding-left: 10vh;
&--ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fcedf45d;
    
    padding: 30px 10px 10px 25px;
    border-radius: 5%;
    
}
&--h2{
    margin-left: 40px;
    font-size: xx-large;
    
}
}
}
.main{
display: flex;
flex-direction: row-reverse;
justify-content: center;
}

.favouriteLi{
color: rgb(90, 23, 129);
}

.classList2{
background-color:$shadow_bg ;
border-radius: 3cm;
}

.liSeriesFav{
    cursor: pointer;
    text-align: center;
    background-color: $shadow_bg ;
    border-radius: 3cm;
    &__img{
    width: 140px;
    height: 240px;
    border-radius: 5%;
    }

    &__title{
    width: 140px;
    color:$color_text_list;
    }
}

.liSeries{
    cursor: pointer;
    &__img{
    width: 140px;
    height: 240px;
    border-radius: 5%;
    }
    &__title{
    text-align: center;
    width: 140px;
    color: rgb(210, 86, 241);
    }
}