//@import 'pages/index';
//@import 'components/code';
//@import 'layout/footer';
//@import 'layout/header';

@import 'core/reset';
@import 'core/variables';
@import 'layout/mainsection';

*{
  font-family: 'Shadows Into Light', ;  
}

::placeholder {
    color:#EFEFEF;
    font-size: x-large;
    font-weight: bold;
    background-color: $color_main;
    border-radius: 1cm;
    
}

//animated background
.myBackGroundAnimated {
    background: linear-gradient(150deg, #deb0f0,  #ce9ff5, #8a9ceb);
    background-size: 3000% 3000%;
    animation: BgGradient 25s ease infinite;
}

@keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}



