//@import 'core/variables';
@import 'core/reset';
//@import 'components/code';
//@import 'components/links';
//@import 'layout/page';
@import 'layout/mainsection';
//@import 'layout/footer';
//@import 'pages/index';
*{
  font-family: 'Shadows Into Light', ;  
}
.mydiv {
    background: linear-gradient(150deg, #dd9ff5,  #ce9ff5, #8a9ceb);
    background-size: 3000% 3000%;
    animation: BgGradient 30s ease infinite;
}

@keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}



